/* Contenitore principale */
.parent {
    -fx-background-color: transparent;
}

.pane {
    -fx-background-color: rgb(48, 47, 43);
}

/* Pannello bianco */
.white-pane {
    -fx-background-color: #FAFAFA;
    -fx-border-color: #DEDEE4;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 2);
}

/* Box di testo */
.tf_box {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5px;
    -fx-border-color: #E0E0E0;
    -fx-border-width: 1px;
    -fx-padding: 8px;
}

/* Stile dei campi di input */
.input-field {
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-prompt-text-fill: #AAAAAA;
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
}

/* Icone di input */
.input-icon {
    -fx-fill: #888888;
}

/* Titolo */
.title-label {
    -fx-font-size: 24px;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
}

/* Stile del pulsante "Accedi" (Verde) */
.login-btn {
    -fx-background-color: transparent;
    -fx-border-color: #4CAF50;
    -fx-border-radius: 25px;
    -fx-border-width: 2px;
    -fx-text-fill: #4CAF50;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-background-radius: 25px;
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}

.login-btn:hover {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #FFFFFF;
}

/* Stile del pulsante "Registrati" (Rosso) */
.register-btn {
    -fx-background-color: #transparent;
    -fx-border-color: #FF6F61;
    -fx-border-radius: 25px;
    -fx-border-width: 2px;
    -fx-text-fill: #FF6F61;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-background-radius: 25px;
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}

.register-btn:hover {
    -fx-background-color: #FF6F61;
    -fx-text-fill: #FFFFFF;
}
